Code Industry/
Code/
Foxit Software/
GIMP/
Mendeley Ltd./
QtProject.conf
README.md
Trolltech.conf
Unknown Organization/
VirtualBox/
ardour5/
beets/README.md
beets/remotes/
beets/state.pickle
calibre/
configstore/
discord/
dolphin-emu/
etc/nvim/
etc/vim/
google-chrome/
gtk-2.0/
i3/README.md
inkscape/
kak/autoload/
kak/plugins/
kak/custom/
linuxsampler.org/
llpp.conf
mail/
mcomix/
menus/
mimeapps.list
mopidy/
mpd/database
mpd/log
mpd/pid
mpd/playlists/
mpd/state
mpd/sticker.sql
mps-youtube/
ncmpcpp/error.log
nvim/
okularpartrc
okularrc
palemoon/
pandoc/
pavucontrol.ini
pavucontrol.ini.7XAYYY
pavucontrol.ini.XMP0YY
pulse/
rncbc.org/
scapy/
spotify/
texmf/
tshark/
vim/
vis/
vlc/
w3m/cookie
w3m/history
w3m/w3mcache18946-0
w3m/w3mcache18946-2
x11/README.md
yapf/
zoomus.conf
zsh/README.md
zsh/completion/
zsh/histfile
