[Unit]
Description=IPFS daemon -- Public network
After=network.target

[Service]
ExecStart=/usr/bin/ipfs daemon --migrate --enable-pubsub-experiment
Restart=on-failure

[Install]
WantedBy=default.target
